body {
  background-color: #09090b;
  color: wheat;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 8em;
  padding-bottom: 8em;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.name {
  /* background: repeating-conic-gradient(#000 0 25%, #fff 0 50%);
  background-size: 50px 50px; */

  border-style: solid;
  border-width: 2px;
  border-color: #1c1c1f;
  /* border-color: #333; */

  /* padding: 2em; */
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1.1px
  );
  background-size: 12px 12px;
  background-color: #111111;
  background-position: center center;

  display: flex;
  justify-content: flex-start;
  align-items:baseline;
  gap: 2em;
}

.name img{
  border-radius: 100%;
}
.name h1{
  margin: 0;
}