body {
  background-color: #09090b;
  color: wheat;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 8em;
  padding-bottom: 8em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.name {
  /* background: repeating-conic-gradient(#000 0 25%, #fff 0 50%);
  background-size: 50px 50px; */

  border-style: solid;
  border-width: 1px;
  border-color: #1c1c1f;
  /* border-color: #333; */

  /* padding: 2em; */
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1.1px
  );
  background-size: 12px 12px;
  background-color: #111111;
  background-position: center center;

  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2em;
}

.name img {
  border-radius: 100%;
}
.name h1 {
  margin: 0;
}

.personal-details {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  */

  display: grid;
  grid-template-columns: auto auto auto;

  gap: 2em;

  border-style: solid;
  border-width: 1px;
  border-color: #1c1c1f;

  padding: 1em;
}

.personal-details-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.personal-details-content svg {
  background-color: #27272a;
  border-radius: 25%;
  padding: 5px;
}

.add-border {
  border-style: solid;
  border-width: 1px;
  border-color: #1c1c1f;
}

.socials {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  padding: 1em;
  flex-wrap: wrap;
  gap: 1em;
}

a {
  color: wheat;
  text-decoration: none;
}

.socials img {
  border-style: solid;
  border-width: 1px;
  border-color: #3c4042;
  border-radius: 25%;
}

.socials-section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 1em;

  padding: 1em;
}

.socials-section-content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}
