h1 {
  color: orange;
}

body {
  /* background: repeating-conic-gradient(#000 0 25%, #fff 0 50%);
  background-size: 50px 50px; */

  color: orange;

  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1.1px
  );
  background-size: 12px 12px;
  background-color: #111111;
  background-position: center center;
}
